.chart-container {
    box-sizing: content-box;
}

.chart-row {
    clear: both;
    float: left;
}

.chart-box {
    width: 50px;
    height: 50px;
    outline: solid 1px;
    float: left;
    box-sizing: border-box;
}

.chart-colour-selector {
    clear: left;
    height: 100px;
    width: 100%;
}

.chart-colour-selector-box {
    width: 45px;
    height: 45px;
    border: thin solid black;
    margin-right: 5px;
    float: left;
}
