<div class="chart-dimension-selector">
    <div ng-show="cells.length === 0" class="form-group">
        <form class="form-inline">
            <label for="chartStitches">Stitches</label>  <input type="number" id="chartStitches" class="form-control" ng-model="columns" min="0" max="50" />
            <label for="chartRows">Rows</label>  <input type="number" id="chartRows" class="form-control" ng-model="rows" min="0" max="50"/>
            <button type="submit" class="btn btn-default" ng-click="initChart()" ng-disabled="cells.length !== 0">Create chart</button>
        </form>
    </div>
    <h4>Gauge:</h4>
    <form>
        Stitches:
        <input type="number" ng-model="gaugeStitches" min="0" max="50"/>
        Rows:
        <input type="number" ng-model="gaugeRows" min="0" max="50"/>
        <button type="button" class="btn" ng-click="changeGauge(gaugeStitches, gaugeRows)">Apply</button>
    </form>
</div>
<div ng-hide="cells.length === 0">
    <div class="chart-colour-selector">
        <h4>Pick a colour</h4>
        <div ng-repeat="colour in defaultColours" class="chart-colour-selector-box" ng-click="selectColour(colour)" ng-style="{'background-color': cssFormat(colour)}">
        </div>
        <button type="button" class="btn btn-lg" ng-click="clearCells()">Clear cells</button>
        <button type="button" class="btn btn-lg" ng-click="undo()" ng-disabled="!canUndo()">Undo</button>
        <button type="button" class="btn btn-lg" ng-click="redo()" ng-disabled="!canRedo()">Redo</button>
    </div>
    <div class="chart-container" ng-style="{'width': chartWidth()}">
        <div ng-repeat="row in cells" class="chart-row">
            <div class="chart-box" ng-repeat="cell in row" ng-click="changeColour($event, cell.row, cell.column)" ng-style="{'background-color': cell.colour, 'width': cellWidthPx(), 'height': cellHeightPx()}">
            </div>
        </div>
    </div>
</div>
 
